body {
    display: flex;
    align-items: center;
}

.Titol {
    text-align: center;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.Image {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
}